# LaTeX (based on github/gitignore)
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.run.xml
*.synctex.gz
*.toc
*.lof
*.lot
*.lol
*.nav
*.snm
# latexmk output dirs
_build/
out/
# Mac/Editors
.DS_Store
*.swp

